/*====================== GLOBAL ======================*/
html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #262626;
  line-height: 1.5;
  font-size: 13px;
}

h1 {
  font-weight: 900;
  font-size: 50px;
  line-height: 1.2;
}

h2 {
  font-weight: 900;
  font-size: 30px;
  line-height: 1.33333;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1192px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #00000044;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}

.header {
  height: 120px;
  box-shadow: 0 1px 3px 0 rgba(66, 75, 97, 0.1),
    1px 5px 5px 0 rgba(66, 75, 97, 0.09), 2px 12px 7px 0 rgba(66, 75, 97, 0.05),
    4px 21px 9px 0 rgba(66, 75, 97, 0.01), 6px 33px 9px 0 rgba(66, 75, 97, 0);
  margin: 0px 0px 24px 0px;
}

.card {
}

.button {
  width: 100%;
  padding: 14px;
  letter-spacing: 0.05em;
  border-radius: 30px;
  background: #003cce;
  color: #fff;
  font-weight: 900;
  letter-spacing: 0.05em;
  text-align: center;
  transition: all 0.2s;
  border: 1px solid transparent;
}

.button:hover {
  background: #fff;
  color: #859cd3;
  border: 1px solid #859cd3;
}

.button:active {
  background: #f2f7ff;
  color: #003cce;
  border: 1px solid #003cce;
}

.button--empty {
  background: transparent;
  color: #859cd3;
  border: 1px solid #859cd3;
}

.button--white {
  background: #fff;
  color: #262626;
  box-shadow: 0 1px 3px 0 rgba(66, 75, 97, 0.1),
    0 5px 5px 0 rgba(66, 75, 97, 0.09), 0 11px 7px 0 rgba(66, 75, 97, 0.05),
    0 20px 8px 0 rgba(66, 75, 97, 0.01), 0 31px 9px 0 rgba(66, 75, 97, 0);
}

.get-card {
}

.popular-offers--mobile {
  display: none;
}

.map {
}

.footer {
  background: #003cce;
  color: #fff;
}

/*==================== SIMPLEBAR ====================*/

.simplebar-track.simplebar-vertical {
  background: #d8e8ff;
  width: 2px;
}

.simplebar-scrollbar:before {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #859cd3;
}

/*====================== HEADER ======================*/

.burger {
  display: none;
  transition: all 1s;
  opacity: 0;
  visibility: hidden;
}

.burger-animate {
  animation: disappearance 0.8s ease;
}

@keyframes disappearance {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  25% {
    transform: translateX(200%);
  }
  50% {
    opacity: 0;
    transform: translateX(200%);
  }
  75% {
    transform: translateX(200%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  min-height: 60px;
  min-width: 200px;
  background: #e8e8e8;
  margin: 30px 0;
}

.header__logo-adaptive {
  display: none;
  background: #e8e8e8;
  min-height: 60px;
  min-width: 200px;

  z-index: 1000;
}

.header__right {
  display: flex;
  align-items: center;
  position: relative;
}

.header__right::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #d8e8ff;
}

.header__navigation {
  display: flex;
}

.header__navigation ul li {
  position: relative;
  float: left;
}

.header__navigation ul li ul {
  position: absolute;
  top: 38px;
  left: 0;
  background: #ffffff;
  display: none;
  padding: 8px 0px 8px 0px;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.1), 0 24px 24px 0 rgba(0, 0, 0, 0.09),
    0 55px 33px 0 rgba(0, 0, 0, 0.05), 0 98px 39px 0 rgba(0, 0, 0, 0.01),
    0 153px 43px 0 rgba(0, 0, 0, 0);
  border-radius: 15px;
  color: #262626;
}

.header__navigation ul li ul li {
  width: 100%;
  padding: 0px 16px 0px 16px;
}

.header__navigation ul li ul li:hover {
  color: #003cce;
  background: #f2f7ff;
}

.header__navigation ul li ul li ul {
  display: none;
  left: 100%;
  top: 0;
}

.header__navigation ul li:hover > ul {
  display: initial;
}

.header__items {
  display: flex;
}

.header__item {
  margin: 0px 39px 0px 0px;
  position: relative;
}

.header__item::before {
  content: '';
  display: none;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #003cce;
}

.header__item:hover.header__item::before {
  display: block;
}

.header__item:hover {
  color: #003cce;
}

.header__item--active.header__item::before {
  display: block;
}

.header__item:last-child {
  margin: 0;
}

.header__item > .header__link {
  padding: 0px 0px 10px 0px;
}

.header__link {
  display: block;
  white-space: nowrap;
  margin: 3px 0px 3px 0px;
}

.header__btn-box {
}

.header__search {
  background: transparent;
  position: relative;
  transition: all 0.3s;
  margin: 0px 0px 0px 133px;
}

.header__search::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #003cce;
  transition: all 0.3s;
  z-index: -1;
}

.header__search:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.header__search path {
  transition: all 0.5s;
}

.header__search:hover path {
  transition: all 0.5s;
  fill: #fff;
}

/*====================== MAIN ======================*/

/*================ MODAL-RESPONSE ================*/

.modal-response {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #0000004d;
  display: grid;
  z-index: 10000;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}

.modal-response--open {
  visibility: visible;
  opacity: 1;
}

.modal-response__container {
  margin: 30px 15px;
  border-radius: 15px;
  width: 1127px;
  height: 598px;
  padding: 40px 44px;
  background: #fff;
  position: relative;
  transform: scale(0);
  transition: all 0.4s;
}

.modal-response__form {
}

.modal-response.modal-response--open .modal-response__container {
  transform: scale(1);
}

.modal-response__title {
  font-size: 18px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.modal-response__title span {
  white-space: nowrap;
}

.modal-response__close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 44px;
  font-size: 40px;
}

.modal-response__top {
  display: flex;
  align-items: center;
  margin: 0px 0px 30px 0px;
}

.modal-response__rate {
  width: 100%;
}

.modal-response__name {
  width: 100%;
  margin: 0px 0px 29px 0px;
  border-radius: 15px;
  padding: 10px 20px;
  background: #f2f7ff;
  height: 40px;
}

.modal-response__stars {
}

.modal-response__star {
}

.modal-response__subtitle {
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.01em;
  margin: 0px 0px 14px 0px;
  text-transform: uppercase;
}

.modal-response__comment {
  font-size: 16px;
  resize: none;
  width: 100%;
  height: 217px;
  border-radius: 15px;
  padding: 10px 20px;
  background: #f2f7ff;
  margin: 0px 0px 30px 0px;
}

.modal-response__name::placeholder,
.modal-response__comment::placeholder {
  transition: all 0.2s;
  color: #859cd3;
}
.modal-response__name:focus::placeholder,
.modal-response__comment:focus::placeholder {
  color: transparent;
}

.modal-response__send {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-response__input-box {
  display: flex;
  align-items: center;
}

.modal-response__politics {
  margin: 0px 20px 0px 0px;
}

.modal-response__politics-input {
  margin: 0px 8px 0px 0px;
  min-width: 20px;
}

.modal-response__politics-link {
  text-decoration: underline;
  margin: 0px 0px 0px 3px;
}

.modal-response__btn {
  width: 240px;
}

.modal-response__btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.modal-response__btn:disabled .modal-response__btn:active {
  opacity: 0.5;
}

/*==================== MAIN-TOP ====================*/

.main__top {
  margin: 0px 0px 50px 0px;
}

.main__site-links {
  display: inline;
  color: #d6cdc6;
}

.main__site-link--active {
  color: #262626;
}

/*==================== ALL-ABOUT ====================*/

.main__all-about {
  margin: 0px 0px 50px 0px;
}

.all-about {
}

.all-about__inner {
}

.all-about__title {
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.all-about__description {
  margin: 0px 0px 15px 0px;
}

.all-about__quantity {
}

.quantity {
}

.quantity__box {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  padding: 40px 63px;
  background: #f2f7ff;
}

.quantity__body {
  display: flex;
  align-items: center;
}

.quantity__icon {
  width: 52px;
  height: 53px;
  background: #fff;
  margin: 0px 15px 0px 0px;
}

.quantity__content {
}

.quantity__number {
  font-weight: 800;
  font-size: 30px;
  line-height: 0.9;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0px 0px 8px 0px;
}

/*==================== ABOUT ====================*/

.main__about {
  margin: 0px 0px 50px 0px;
}

.about {
}

.about__inner {
}

.about__title {
  line-height: 1.33333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.about__content {
  display: flex;
}

.about__text {
  max-width: 558px;
  margin: 0px 45px 0px 0px;
}

.about__text p {
  margin: 0px 0px 25px 0px;
}

.about__text p:last-child {
  margin: 0;
}

.about__img {
  border-radius: 15px;
  overflow: hidden;
}

.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*==================== EXPERTS ====================*/

.main__experts {
  margin: 0px 0px 50px 0px;
}

.experts {
}

.experts__inner {
}

.experts__top {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 20px 0px;
}

.experts__title {
  line-height: 1.33333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.experts__check-all {
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.experts__check-all:hover {
  color: #003cce;
}

.experts__check-all:hover svg path {
  fill: #003cce;
}

.experts__slider {
  display: flex;
  margin: 0px 0px 30px 0px;
}

.experts__slide {
  margin: 10px 20px 10px 20px;
}

.experts__slide-inner {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 1px 3px 0 rgba(66, 75, 97, 0.1),
    1px 6px 6px 0 rgba(66, 75, 97, 0.09), 2px 13px 8px 0 rgba(66, 75, 97, 0.05),
    4px 23px 10px 0 rgba(66, 75, 97, 0.01), 6px 37px 10px 0 rgba(66, 75, 97, 0);
}

.experts__slide:last-child {
  margin: 10px 0;
}

.experts__slide-img {
  overflow: hidden;
  border-radius: 90px;
  margin: 0px 0px 22px 0px;
}

.experts__slide-fcs {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.experts__slide-name {
}

.experts__slide-surname {
  margin: 0px 0px 10px 0px;
}

.experts__slide-text {
}

.experts__arrows {
  display: flex;
  justify-content: end;
}

.experts__arrow svg path {
  transition: all 0.3s;
}

.experts__arrow:hover svg path {
  fill: #003cce;
}

.experts__arrow--next {
  margin: 0px 0px 0px 10px;
}

/*==================== PROJECT-OBJECTIVES ====================*/

.main__project-objectives {
  margin: 0px 0px 50px 0px;
}

/*==================== SERVICES ====================*/

.project-objectives__services {
}

.services {
}

.services__title {
  line-height: 1.33333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.services__text {
  margin: 0px 0px 24px 0px;
}

.services__cards {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(6, 1fr);
  gap: 37px;
}

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 161px;
  max-width: 161px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(66, 75, 97, 0.1),
    1px 3px 3px 0 rgba(66, 75, 97, 0.09), 1px 7px 5px 0 rgba(66, 75, 97, 0.05),
    2px 13px 5px 0 rgba(66, 75, 97, 0.01), 4px 21px 6px 0 rgba(66, 75, 97, 0);
}

.services__card-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.services__card-img {
  margin: 0px 0px 8px 0px;
}

.services__card-text {
  text-align: center;
}

/*==================== SECURITY ====================*/

.main__security {
  margin: 0px 0px 50px 0px;
}

.security {
}

.security__inner {
}

.security__title {
  line-height: 1.33333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.security__cards {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
  gap: 40px;
}

.security__card {
  padding: 30px 0px 30px 30px;
  display: flex;
  border-radius: 15px;
  background: #f2f7ff;
  align-items: center;
  justify-content: space-between;
}

.security__card:nth-child(2),
.security__card:nth-child(3) {
  background: #d8e8ff;
}

.security__card-info {
  max-width: 50%;
  margin: 0px 15px 0px 0px;
}

.security__card-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0px 0px 15px 0px;
}

.security__card-text {
}

.security__card-img {
  height: 223px;
  width: 234px;
  overflow: hidden;
}

.security__card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.security__protection {
  background: #f2f7ff;
  border-radius: 20px;
  padding: 40px 36px;
  margin: 0px 0px 50px 0px;
}

.protection__title {
  font-weight: 800;
  font-size: 30px;
  line-height: 1.33333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.protection__text {
  max-width: 750px;
  margin: 0px 0px 15px 0px;
}

.protection__cards {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  gap: 41px;
}

.protection__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  padding: 30px 40px;
  height: 312px;
  background: #d8e8ff;
  box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.1),
    9px 3px 10px 0 rgba(0, 0, 0, 0.09), 21px 7px 13px 0 rgba(0, 0, 0, 0.05),
    37px 12px 15px 0 rgba(0, 0, 0, 0.01), 57px 18px 17px 0 rgba(0, 0, 0, 0);
}

.protection__card-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.protection__card-text {
}

/*==================== TREE ====================*/

.main__history {
  margin: 0px 0px 50px 0px;
}

.history {
}

.history__inner {
  margin: 0 auto;
  width: 750px;
}

.history__title {
  line-height: 1.33333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.history__text {
  margin: 0px 0px 40px 0px;
}

.history__tree {
}

.tree {
}

.tree__row {
  display: flex;
  gap: 40px;
  margin: 0px 0px 36px 0px;
}

.tree__img {
}

.tree__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  position: relative;
}

.tree__title::after {
  content: '';
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 113px;
  height: 1px;
  background: #262626;
}

.tree__title::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 113px;
  background: #262626;
}

.tree__text {
}

/*==================== TREE-MOBILE ====================*/

.main__history-mobile {
  display: none;
  margin: 0px 0px 30px 0px;
}

.history-mobile {
}

.history-mobile__inner {
}

.history-mobile__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.history-mobile__slider {
  display: flex;
}

.history-mobile__slide-inner {
  max-width: 280px;
  margin: 0 12px;
}

.history-mobile__slide {
}

.history-mobile__slide-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0px 0px 24px 0px;
  position: relative;
}

.history-mobile__slide-title::after {
  content: '';
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translateY(-50%);
  width: 155px;
  height: 1px;
  background: #262626;
}

.history-mobile__slide-title::before {
  content: '';
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 27px;
  background: #262626;
}

.history-mobile__slide-img {
  width: 280px;
  margin: 0px 0px 40px 0px;
  border-radius: 10px;
  overflow: hidden;
}

.history-mobile__slide-img img {
}

.history-mobile__slide-text {
}

/*==================== QUESTIONS ====================*/

.main__questions {
  margin: 0px 0px 50px 0px;
}

.questions {
}

.questions__inner {
}

.questions__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 34px 0px;
}

.questions__title {
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.questions__check-all {
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.questions__check-all path {
  transition: all 0.2s;
}

.questions__check-all:hover {
  color: #003cce;
}

.questions__check-all:hover path {
  fill: #003cce;
}

.questions__cards {
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  gap: 40px;
}

.questions__card {
  border-radius: 15px;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.1),
    7px 8px 11px 0 rgba(0, 0, 0, 0.09), 16px 19px 15px 0 rgba(0, 0, 0, 0.05),
    28px 33px 17px 0 rgba(0, 0, 0, 0.01), 44px 52px 19px 0 rgba(0, 0, 0, 0);
}

.questions__card-link {
  display: flex;
  flex-direction: column;
}

.questions__card-img {
}

.questions__card-img img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: 143px;
}

.questions__card-content {
  padding: 24px;
  position: relative;
}

.questions__card-title {
  margin: 20px 0px 24px 0px;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.questions__card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions__card-date {
  color: #d6cdc6;
  position: absolute;
  top: 14px;
}

.questions__card-popularity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #859cd3;
}

.questions__card-views {
  padding: 0px 0px 0px 32px;
  margin: 0px 24px 0px 0px;
  position: relative;
}

.questions__card-views::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  background: url(../images/icons/eye-icon.svg);
}

.questions__card-likes {
  padding: 0px 0px 0px 32px;
  position: relative;
}

.questions__card-likes::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 24px;
  height: 24px;
  background: url(../images/icons/like-icon.svg);
}

/*==================== REVIES ====================*/
.main__reviews {
  margin: 0px 0px 50px 0px;
}

.reviews {
}

.reviews__inner {
}

.reviews__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 30px 0px;
}

.reviews__title {
  line-height: 1.33333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.reviews__tabs {
  margin: 0px 0px 32px 0px;
  position: relative;
}

.reviews__tabs::before {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #d8e8ff;
}

.reviews__tabs-btn {
  position: relative;
  background: transparent;
  margin: 0px 39px 0px 0px;
  padding: 0px 0px 15px 0px;
  color: #262626;
}

.reviews__tabs-btn::before {
  content: '';
  display: none;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #003cce;
}

.reviews__tabs-btn:hover.reviews__tabs-btn::before {
  display: block;
}

.reviews__tabs-btn--active {
  color: #003cce;
}

.reviews__tabs-btn--active.reviews__tabs-btn::before {
  display: block;
}

.reviews__tabs-btn:last-child {
  margin: 0;
}

.reviews__tabs-item {
  display: none;
  animation: moving 0.5s ease;
}

@keyframes moving {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.reviews__tabs-item--active {
  display: block;
}

.reviews__slider {
}

.reviews__slide-inner {
  padding: 0px 16px 30px 10px;
}

.reviews__slide {
  max-width: 551px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(66, 75, 97, 0.1),
    2px 11px 11px 0 rgba(66, 75, 97, 0.09),
    4px 25px 16px 0 rgba(66, 75, 97, 0.05),
    8px 45px 18px 0 rgba(66, 75, 97, 0.01), 12px 71px 20px 0 rgba(66, 75, 97, 0);
}

.reviews__slide-top {
  display: flex;
  margin: 0px 0px 38px 0px;
  justify-content: space-between;
}

.reviews__slide-bank {
  display: flex;
  align-items: center;
}

.reviews__slide-logo {
  margin: 0px 8px 0px 0px;
}

.reviews__slide-logo img {
  max-width: 24px;
}

.reviews__slide-name {
}

.reviews__stars {
  display: flex;
}

.reviews__star {
  width: 24px;
  height: 24px;
  background: url(../images/icons/fill-blue-star.svg);
  margin: 0px 8px 0px 0px;
}

.reviews__star:last-child {
  margin: 0;
}

.reviews__star--half {
  background: url(../images/icons/half-blue-star.svg);
}

.reviews__star--empty {
  background: url(../images/icons/empty-blue-star.svg);
}

.reviews__slide-middle {
  margin: 0px 0px 38px 0px;
}

.reviews__slide-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0px 0px 4px 0px;
}

.reviews__slide-text {
  max-height: 60px;
  overflow: hidden;
  margin: 0px 0px 4px 0px;
}

.reviews__slide-more {
  color: #a08dab;
}

.reviews__slide-bottom {
  display: flex;
  justify-content: space-between;
}

.reviews__slide-date {
}

.reviews__slide-about {
}

.reviews__btn-box {
  display: flex;
  justify-content: end;
}

.reviews__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 175px;
  height: 44px;
  margin: 0px 24px 0px 0px;
}

.reviews__arrows {
}

.reviews__arrow path {
  transition: all 0.3s;
}

.reviews__arrow:hover path {
  fill: #003cce;
}

.reviews__arrow--prev {
}

.reviews__arrow--next {
}

/*==================== CONTACTS ====================*/

.main__contacts {
  margin: 0px 0px 50px 0px;
}

.contacts {
}

.contacts__inner {
}

.contacts__title {
  line-height: 1.33333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.contacts__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 50px 0px;
}

.content__info {
  margin: 0px 30px 0px 0px;
  max-width: 300px;
}

.content__column {
  margin: 0px 0px 50px 0px;
}

.content__column:last-child {
  margin: 0;
}

.content__column-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  margin: 0px 0px 14px 0px;
}

.content__column-paragraph {
  margin: 0px 0px 8px 0px;
}

.content__column-tel {
  margin: 0px 0px 26px 0px;
}

.content__column-link {
  display: inline-block;
  transition: all 0.2s;
}

.content__column-link:hover {
  color: #003cce;
}

.content__column-mail {
  margin: 0px 0px 26px 0px;
}

.content__column-socials {
  display: flex;
  align-items: center;
}

.content__column-socials svg:first-child {
  max-width: 30px;
  max-height: 30px;
  margin: 0px 16px 0px 0px;
}

.content__map {
  height: 573px;
  width: 826px;
  border-radius: 15px;
  overflow: hidden;
}

.content__map img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*==================== WRITE-US ====================*/

.main__write-us {
  margin: 0px 0px 50px 0px;
}

.write-us {
}

.write-us__inner {
  border-radius: 20px;
  padding: 40px 58px;
  background: #f2f7ff;
}

.write-us__title {
  line-height: 1.33333;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0px 0px 30px 0px;
}

.write-us__text {
  max-width: 68%;
  margin: 0px 0px 30px 0px;
}

.write-us__form {
}

.write-us__form-inputs {
  display: flex;
  flex-direction: column;
}

.write-us__form-name::placeholder,
.write-us__form-tel::placeholder,
.write-us__form-mail::placeholder,
.write-us__form-comment::placeholder {
  color: #859cd3;
  transition: all 0.3s;
}

.write-us__form-name:focus::placeholder,
.write-us__form-tel:focus::placeholder,
.write-us__form-mail:focus::placeholder,
.write-us__form-comment:focus::placeholder {
  color: transparent;
}

.write-us__form-name {
  border-radius: 15px;
  padding: 10px 20px;
  height: 40px;
  margin: 0px 0px 30px 0px;
}

.write-us__form-tel {
  border-radius: 15px;
  padding: 10px 20px;
  height: 40px;
  margin: 0px 0px 30px 0px;
}

.write-us__form-mail {
  border-radius: 15px;
  padding: 10px 20px;
  height: 40px;
  margin: 0px 0px 30px 0px;
}

.write-us__form-inputs label {
  font-weight: 700;
  letter-spacing: 0.02em;
  margin: 0px 0px 14px 0px;
}

.write-us__form-comment {
  border-radius: 15px;
  padding: 10px 20px;
  margin: 0px 0px 30px 0px;
  height: 217px;
  resize: none;
}

.write-us__form-bottom {
  display: flex;
  justify-content: space-between;
}

.write-us__form-policy {
  display: flex;
  align-items: center;
  width: 100%;
}

.write-us__form-checkbox {
  margin: 0px 8px 0px 0px;
}

.write-us__form-lable {
  display: flex;
}

.write-us__form-link {
  display: block;
  text-decoration: underline;
  margin: 0px 0px 0px 3px;
}

.write-us__button {
  max-width: 240px;
}

.write-us__button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*==================== MAILING ====================*/

.main__mailing {
  margin: 0px 0px 55px 0px;
}

.mailing__inner {
  background: url(../images/bg-form.jpg);
  border-radius: 15px;
  padding: 40px 20px 40px 36px;
}

.mailing__title {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  margin: 0px 0px 24px 0px;
  max-width: 595px;
}

.mailing__description {
  max-width: 595px;
  font-size: 16px;
  color: #fff;
  margin: 0px 0px 28px 0px;
}

.mailing__form {
}

.mailing__form-fill {
  display: flex;
  margin: 0px 0px 20px 0px;
}

.mailing__form-mail {
  margin: 0px 13px 0px 0px;
  border-radius: 20px;
  padding: 14px 20px;
  width: 335px;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: url(../images/icons/checkbox-empty.svg);
}

input[type='checkbox']:checked {
  background: url(../images/icons/checkbox.svg);
}

.mailing__form-mail::placeholder {
  color: #859cd3;
  transition: all 0.2s;
}

.mailing__form-mail:focus::placeholder {
  color: transparent;
}

.mailing__form-btn {
  width: 240px;
  background: #262626;
}

.mailing__form-lable {
  display: flex;
  align-items: center;
  color: #fff;
}

.mailing__form-checkbox {
  margin: 0px 12px 0px 0px;
}

/*==================== FOOTER ====================*/

.footer__top {
  display: flex;
  padding: 92px 0px 71px 0px;
}

.footer__logo {
  width: 257px;
  height: 62px;
  min-width: 257px;
  min-height: 62px;
  background: #fff;
  margin: 0px 43px 0px 0px;
}

.footer__top > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer__top li {
  max-width: 184px;
  font-weight: 500;
  font-size: 16px;
}
.footer__top > ul:last-child {
  margin: 0px 80px 0px 0px;
}

.footer__link {
  display: block;
  margin: 29px 0px 0px 0px;
}

.footer__element--social {
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 57px 0px;
}

.footer__copy {
}

.footer__politics {
  display: flex;
  align-items: center;
}

.footer__confidentiality {
  margin: 0px 55px 0px 0px;
}

.footer__cookies {
}

.footer__link--telegram {
  position: relative;
}
.footer__link--whatsapp {
  position: relative;
}
.footer__link--viber {
  position: relative;
}

.footer__link--telegram::after {
  content: '';
  position: absolute;
  right: -30px;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(../images/icons/telegram-icon.svg);
}

.footer__link--whatsapp::after {
  content: '';
  position: absolute;
  right: -35px;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(../images/icons/whatsap-icon.svg);
}

.footer__link--viber::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0;
  width: 24px;
  height: 24px;
  background: url(../images/icons/viber-icon.svg);
}

/*==================== MEDIA ====================*/

@media (hover: none) {
  .button:hover {
    background: #003cce;
    color: #fff;
    border: 1px solid transparent;
  }

  .button:active {
    background: #f2f7ff;
    color: #003cce;
    border: 1px solid #003cce;
  }

  .button--white:hover {
    background: #fff;
    color: #262626;
  }

  .button--empty:hover {
    background: transparent;
    color: #859cd3;
    border: 1px solid #859cd3;
  }

  .button--empty:active {
    background: #f2f7ff;
    color: #003cce;
    border: 1px solid #003cce;
  }

  .questions__check-all:hover {
    color: inherit;
  }

  .questions__check-all:hover path {
    fill: #262626;
  }

  .questions__check-all:active {
    color: #003cce;
  }

  .questions__check-all:active path {
    fill: #003cce;
  }

  .reviews__arrow path {
    transition: all 0.2s;
  }

  .reviews__arrow:hover path {
    fill: #859cd3;
  }

  .reviews__arrow:active path {
    fill: #003cce;
  }

  .mailing__form-btn:hover {
    background: #262626;
    border: 1px solid transparent;
    color: #fff;
  }
}

@media (max-width: 1200px) {
  /*==================== MEDIA 1200 ====================*/
  /*====================== HEADER ======================*/
  .header__search {
    margin: 0px 0px 0px 80px;
  }

  /*====================== SERVICES ======================*/

  .services__cards {
    gap: 20px;
  }

  /*====================== SECURITY ======================*/

  .protection__cards {
    display: flex;
    gap: 0px;
  }

  .protection__card {
    margin: 15px 10px;
    height: 230px;
  }

  .protection__card-title {
    margin: 0px 0px 15px 0px;
  }

  /*==================== QUESTIONS ====================*/

  .questions__cards {
    gap: 30px;
  }

  /*====================== MODAL-RESPONSE ======================*/

  .modal-response__container {
    width: calc(100vw - 60px);
  }
}

@media (max-width: 1100px) {
  /*==================== MEDIA 1100 ====================*/
  /*====================== HEADER ======================*/

  .header__search {
    margin: 0px 0px 0px 20px;
  }

  /*====================== ABOUT ======================*/

  .about__text {
    max-width: 50%;
    margin: 0px 25px 0px 0px;
  }

  /*====================== SERVICES ======================*/

  .services__cards {
    gap: 20px;
    grid-template: repeat(1, 1fr) / repeat(5, 1fr);
  }

  .services__card {
    max-width: 100%;
    min-width: 86px;
  }

  /*==================== QUESTIONS ====================*/

  .questions__cards {
    gap: 20px;
  }

  /*====================== CONTACTS ======================*/
  .content__form-info {
    max-width: 335px;
  }
}

@media (max-width: 1030px) {
  /*====================== MEDIA 1030 ======================*/
  /*====================== HEADER ======================*/

  .header__item {
    margin: 0px 30px 0px 0px;
  }

  /*====================== CONTACTS ======================*/

  .content__form {
    flex-direction: column;
  }

  .content__form-info {
    margin: 0;
    min-width: 118px;
    max-width: 100%;
  }

  .content__form-title {
    font-size: 24px;
    margin: 0px 0px 24px 0px;
  }

  .content__form-text {
    font-size: 13px;
    margin: 0px 0px 24px 0px;
    max-width: 100%;
  }

  .content__btn {
    min-height: 48px;
  }

  .card-link__card {
    margin: 0px 15px 0px 0px;
  }
}

@media (max-width: 1000px) {
  /*====================== MEDIA 1000 ======================*/
  /*====================== GLOBAL ======================*/
  .burger {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 45px;
    height: 45px;
    top: 37.5px;
    right: 37.5px;
    z-index: 101;
    opacity: 1;
    visibility: visible;
  }

  .burger--follow {
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.4);
  }

  .burger span {
    display: block;
    top: 50%;
    right: 50%;
    height: 3px;
    width: 30px;
    background: #262626;
    margin: 4px 0;
    border-radius: 2px;
  }

  .burger::before,
  .burger::after {
    content: '';
    display: block;
    height: 3px;
    width: 30px;
    background: #262626;
    border-radius: 2px;
  }

  /*====================== HEADER ======================*/

  .header__right {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 100;
    min-width: 320px;
    height: 100%;
    justify-content: space-evenly;
    padding: 100px 0;
    transform: translateX(100%);
    transition: all 0.5s;
  }

  .header__right--active {
    transform: translateX(0%);
  }

  .header__logo-adaptive {
    display: block;
    position: relative;
  }

  .header__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__item {
    margin: 0;
  }

  .header__item:hover {
    color: inherit;
  }

  .header__item:active {
    color: #003cce;
  }

  .header__item--active.header__item::before {
    display: none;
  }

  .header__item:hover.header__item::before {
    display: none;
  }

  .header__navigation ul li:hover > ul {
    display: none;
  }

  .header__item > .header__link {
    font-weight: 500;
    padding: 10px 0;
    margin: 0;
    font-size: 16px;
  }

  .header__search {
    position: absolute;
    left: 50px;
    top: 50px;
    margin: 0;
  }

  /*====================== SERVICES ======================*/

  .services__cards {
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
  }

  /*====================== SECURITY ======================*/

  .protection__card {
    height: 300px;
  }

  /*====================== CARDS ======================*/

  .security__cards {
    gap: 30px;
  }

  .security__card-img {
    height: 173px;
    width: 184px;
  }

  /*==================== QUESTIONS ====================*/

  .questions__cards {
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  }

  .questions__cards {
    gap: 20px;
  }

  /*====================== CONTACTS ======================*/

  .card-link__row {
    flex-direction: column;
  }

  .card-link__card {
    max-width: 100%;
    margin: 0px 0px 24px 0px;
  }

  .card-link__card-text {
    max-width: 100%;
  }

  /*====================== WRITE-US ======================*/

  .write-us__form-policy {
    align-items: start;
  }

  .write-us__form-checkbox {
    margin: 5px 8px 0px 0px;
  }

  .write-us__form-lable {
    flex-direction: column;
  }

  /*====================== FOOTER ======================*/

  .footer__logo {
    margin: 0px 20px 0px 0px;
    width: 128.5px;
    height: 31px;
    min-width: 128.5px;
    min-height: 31px;
  }
}

@media (max-width: 800px) {
  /*====================== MEDIA 800 ======================*/
  /*====================== GLOBAL ======================*/

  .container {
    padding: 0 10px;
  }

  .burger {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 30px;
    height: 30px;
    top: 17.5px;
    right: 17.5px;
    z-index: 101;
    opacity: 1;
    visibility: visible;
  }

  .burger--follow {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 0px 12px 0px rgba(34, 60, 80, 0.4);
  }

  .burger span {
    display: block;
    top: 50%;
    right: 50%;
    height: 2px;
    width: 20px;
    background: #262626;
    margin: 4px 0;
    border-radius: 2px;
  }

  .burger::before,
  .burger::after {
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background: #262626;
    border-radius: 2px;
  }

  /*====================== HEADER ======================*/

  .header__search {
    position: absolute;
    left: 21px;
    top: 21px;
    margin: 0;
  }

  .header {
    height: 64px;
    margin: 0px 0px 15px 0px;
  }

  .header__logo {
    margin: 19px 0;
    min-height: 27px;
    min-width: 90px;
  }

  /*====================== MAIN-TOP ======================*/

  .main__site-links {
    font-size: 8px;
  }

  .main__top {
    margin: 0px 0px 15px 0px;
  }

  /*====================== ALL-ABOUT ======================*/

  .main__all-about {
    margin: 0px 0px 30px 0px;
  }

  .all-about__title {
    font-size: 24px;
    margin: 0px 0px 15px 0px;
  }

  .quantity__box {
    padding: 20px;
    justify-content: space-around;
  }

  .quantity__body {
    flex-direction: column;
  }

  .quantity__icon {
    width: 48px;
    height: 48px;
    margin: 0px 0px 16px 0px;
  }

  .quantity__number {
    text-align: center;
    font-size: 16px;
    margin: 0px 0px 4px 0px;
  }

  .quantity__text {
    font-size: 8px;
    text-align: center;
    width: 70px;
  }

  /*====================== ABOUT ======================*/

  .main__about {
    margin: 0px 0px 30px 0px;
  }

  .about__title {
    font-size: 24px;
  }

  .about__content {
    flex-direction: column;
  }

  .about__text {
    max-width: 100%;
    margin: 0px 0px 45px 0px;
  }

  .about__img {
    height: 340px;
  }

  /*====================== SERVICES ======================*/

  .services__cards {
    grid-template: repeat(1, 1fr) / repeat(3, 1fr);
  }

  .services__title {
    font-size: 24px;
    margin: 0px 0px 24px 0px;
  }

  .services__text {
    margin: 0px 0px 14px 0px;
  }

  /*====================== SECURITY ======================*/

  .security__protection {
    padding: 40px 18px;
  }

  .protection__title {
    font-size: 24px;
    margin: 0px 0px 24px 0px;
  }

  .protection__card {
    height: 350px;
  }

  /*====================== EXPERTS ======================*/

  .experts__check-all {
    display: none;
  }

  .experts__inner {
    padding: 30px 18px;
  }

  .experts__slider {
    margin: 0;
  }

  .experts__arrows {
    display: none;
  }

  /*==================== TREE-MOBILE ====================*/

  .main__history {
    display: none;
  }

  .main__history-mobile {
    display: block;
  }

  /*====================== CARDS ======================*/

  .security__cards {
    margin: 0px 0px 30px 0px;
  }

  .security__card-info {
    margin: 0px 30px 0px 0px;
  }

  .security__title {
    font-size: 24px;
    margin: 0px 0px 24px 0px;
  }

  .security__cards {
    display: flex;
    flex-direction: column;
  }

  .security__card:nth-child(2),
  .security__card:nth-child(3) {
    background: #f2f7ff;
  }

  .security__card:nth-child(even) {
    background: #d8e8ff;
  }

  .security__card-info {
    max-width: 70%;
  }

  /*==================== QUESTIONS ====================*/

  .questions__top {
    margin: 0px 0px 10px 0px;
  }

  .questions__title {
    font-size: 24px;
  }

  .questions__check-all {
    display: none;
  }

  .questions__cards {
    gap: 0;
    display: flex;
  }

  .questions__card {
    margin: 15px 10px;
  }

  /*====================== MODAL-RESPONSE ======================*/

  .modal-response__container {
    width: calc(100vw - 40px);
    padding: 24px 18px;
    height: 610px;
  }

  .modal-response__title {
    margin: 0px 0px 16px 0px;
  }

  .modal-response__close {
    display: flex;
    align-items: start;
    top: 22px;
    right: 18px;
  }

  .modal-response__top {
    flex-direction: column;
    align-items: start;
    margin: 0px 0px 18px 0px;
  }

  .modal-response__download-label {
    margin: 0px 0px 16px 0px;
  }

  .modal-response__name {
    margin: 0px 0px 16px 0px;
  }

  .modal-response__subtitle {
    text-transform: inherit;
  }

  .modal-response__comment {
    margin: 0px 0px 8px 0px;
  }

  .modal-response__send {
    flex-direction: column-reverse;
  }

  .modal-response__btn {
    margin: 0px 0px 24px 0px;
    width: 100%;
  }

  .modal-response__input-box {
    align-self: start;
  }

  /*====================== REVIEWS ======================*/

  .reviews__top {
    margin: 0px 0px 24px 0px;
  }

  .reviews__title {
    font-size: 24px;
  }

  .reviews__tabs {
    display: none;
  }

  .reviews__slide-top {
    flex-direction: column;
  }

  .reviews__slide-bank {
    margin: 0px 0px 10px 0px;
  }

  .reviews__slide-bottom {
    flex-direction: column;
  }

  .reviews__slide-date {
    margin: 0px 0px 10px 0px;
  }

  .reviews__btn-box {
    justify-content: start;
  }

  .reviews__arrows {
    display: none;
  }

  /*====================== CONTACTS ======================*/

  .main__contacts {
    margin: 0px 0px 30px 0px;
  }

  .contacts__title {
    font-size: 24px;
    margin: 0px 0px 24px 0px;
  }

  .content__column {
    margin: 0px 0px 24px 0px;
  }

  .contacts__content {
    flex-direction: column;
    align-items: start;
    margin: 0px 0px 30px 0px;
  }

  .content__info {
    margin: 0px 0px 30px 0px;
  }

  .content__map {
    width: 100%;
  }

  .contacts__cards {
    flex-direction: column;
    margin: 0px 0px 30px 0px;
  }

  .content__card {
    margin: 0px 0px 24px 0px;
    max-width: 100%;
    padding: 30px 18px;
  }

  .content__card:last-child {
    margin: 0;
  }

  .content__title {
    font-size: 24px;
  }

  .content__text {
    font-size: 13px;
  }

  .content__link {
    font-size: 24px;
  }

  .content__form {
    padding: 20px 18px;
    margin: 0px 0px 30px 0px;
  }

  .content__fields-bottom {
    flex-direction: column;
  }

  .content__fields-bottom label {
    margin: 0px 0px 14px 0px;
  }

  .content__support {
    padding: 20px 18px;
    margin: 0px 0px 30px 0px;
  }

  .support__title {
    font-size: 24px;
  }

  .support__text {
    font-size: 13px;
  }

  .support__btn {
    min-height: 48px;
  }

  /*====================== WRITE-US ======================*/

  .write-us__inner {
    padding: 20px 10px;
  }

  .write-us__title {
    font-size: 24px;
  }

  .write-us__text {
    max-width: 100%;
  }

  .write-us__form-name,
  .write-us__form-tel,
  .write-us__form-mail {
    margin: 0px 0px 18px 0px;
  }

  .write-us__form-bottom {
    flex-direction: column-reverse;
  }

  .write-us__form-policy {
    align-items: center;
  }

  .write-us__form-checkbox {
    margin: 0px 8px 0px 0px;
  }

  .write-us__button {
    max-width: 100%;
    margin: 0px 0px 24px 0px;
  }

  /*====================== MAILING ======================*/

  .main__mailing {
    height: 783px;
    margin: 0px 0px 30px 0px;
  }

  .mailing__inner {
    padding: 40px 20px 300px 20px;
    height: 100%;
    background: url(../images/bg-form-mobile.jpg) center calc(100% + 110px) /
      100% auto no-repeat;
  }

  .mailing__title {
    font-size: 24px;
  }

  .mailing__description {
    font-size: 13px;
  }

  .mailing__form-fill {
    display: flex;
    flex-direction: column;
  }

  .mailing__form-mail {
    width: 100%;
    margin: 0px 0px 13px 0px;
  }

  .mailing__form-btn {
    width: 100%;
  }

  .mailing__form-lable {
    display: flex;
    align-items: start;
  }

  .mailing__form-lable span {
  }

  .mailing__form-checkbox {
    min-width: 20px;
    margin: 0px 8px 0px 0px;
  }

  /*====================== FOOTER ======================*/

  .footer__top {
    flex-direction: column;
    padding: 50px 0;
  }

  .footer__logo {
    margin: 0px 0px 50px 0px;
    width: 257px;
    height: 62px;
  }

  .footer__top > ul {
    flex-direction: column;
  }

  .footer__element {
    margin: 0px 0px 30px 0px;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
  }

  .footer__link {
    margin: 10px 0px 0px 0px;
  }

  .footer__link--telegram span {
    display: none;
  }
  .footer__link--whatsapp span {
    display: none;
  }
  .footer__link--viber span {
    display: none;
  }

  .footer__element:last-child .footer__list {
    display: flex;
    flex-direction: column;
  }

  .footer__link--telegram::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0;
    width: 24px;
    height: 24px;
  }
  .footer__link--whatsapp::after {
    content: '';
    position: absolute;
    left: 42px;
    top: -10px;
    width: 24px;
    height: 24px;
  }
  .footer__link--viber::after {
    content: '';
    position: absolute;
    left: 84px;
    top: -18px;
    width: 24px;
    height: 24px;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__copy {
    margin: 0px 0px 10px 0px;
  }

  .footer__politics {
    flex-direction: column;
    align-items: start;
  }

  .footer__confidentiality {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 500px) {
  /*====================== MEDIA 500 ======================*/

  .security__card {
    flex-direction: column;
    padding: 40px 15px 0px 15px;
  }

  .security__card-info {
    margin: 0;
    max-width: 100%;
  }

  .security__card-title {
    width: 70%;
  }
}

@media (max-width: 450px) {
  /*====================== MEDIA 450 ======================*/
  /*====================== ALL-ABOUT ======================*/

  .quantity__box {
    justify-content: space-between;
  }

  /*====================== SERVICES ======================*/

  .services__card {
    height: 86px;
  }

  .services__card-img img {
    width: 25px;
    height: 25px;
  }

  .services__card-text {
    font-size: 8px;
  }
}
